<div class="update-password-form">
    <h2>Update Password</h2>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" [disabled]="isDisabled">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ID" formControlName="id" [disabled]="isDisabled">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="warn">Update</button>
    </form>
  </div>
  
