
<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Registration Form</h2>
      </div>
      <div class="row clearfix">
        <div class="">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
                <!-- Username Field -->
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" formControlName="username" placeholder="Username" required />
                </div>
              
                <!-- Email Field -->
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                  <input type="email" formControlName="email" placeholder="Email" required />
                </div>
              
                <!-- Password Field -->
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                  <input type="password" formControlName="password" placeholder="Password" required />
                </div>
              
                <!-- Site Name Field -->
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" formControlName="siteName" placeholder="Site Name" required />
                </div>
              
                <!-- Site Supervisor Field -->
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" formControlName="siteSupervisor" placeholder="Site Supervisor" required />
                </div>
              
                <!-- Site Address Field -->
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" formControlName="siteAddress" placeholder="Site Address" required />
                </div>
               
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                  <mat-select formControlName="program" placeholder="Choose ProgramType" required>
                  <mat-option *ngFor="let option of programs" [value]="option">{{ option }}</mat-option>
                  </mat-select>
              </div>
              
<div class="form-group">
  <label class="bold-label" for="breakfastTime">Breakfast Time:</label>
  <div class="timepicker">
    <!-- Start Time -->
    <input
      #breakfastStartTimeInput
      type="text"
      placeholder="Select Start Time"
      aria-label="Breakfast Start Time"
      [ngxTimepicker]="breakfastStartTimepicker"
      readonly
      formControlName="breakfastTime"
    >
    <ngx-material-timepicker #breakfastStartTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
    
    <!-- End Time -->
    <input
      #breakfastEndTimeInput
      type="text"
      placeholder="Select End Time"
      aria-label="Breakfast End Time"
      [ngxTimepicker]="breakfastEndTimepicker"
      readonly
      formControlName="breakfastEndTime"
    >
    <ngx-material-timepicker #breakfastEndTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
  </div>
</div>

<!-- Lunch Time Field -->
<div class="form-group">
  <label class="bold-label" for="lunchTime">Lunch Time:</label>
  <div class="timepicker">
    <!-- Start Time -->
    <input
      #lunchStartTimeInput
      type="text"
      placeholder="Select Start Time"
      aria-label="Lunch Start Time"
      [ngxTimepicker]="lunchStartTimepicker"
      readonly
      formControlName="lunchTime"
    >
    <ngx-material-timepicker #lunchStartTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
    
    <!-- End Time -->
    <input
      #lunchEndTimeInput
      type="text"
      placeholder="Select End Time"
      aria-label="Lunch End Time"
      [ngxTimepicker]="lunchEndTimepicker"
      readonly
      formControlName="lunchEndTime"
    >
    <ngx-material-timepicker #lunchEndTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
  </div>
</div>

<!-- Supper Time Field -->
<div class="form-group">
  <label class="bold-label" for="supperTime">Supper Time:</label>
  <div class="timepicker">
    <!-- Start Time -->
    <input
      #supperStartTimeInput
      type="text"
      placeholder="Select Start Time"
      aria-label="Supper Start Time"
      [ngxTimepicker]="supperStartTimepicker"
      readonly
      formControlName="supperTime"
    >
    <ngx-material-timepicker #supperStartTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
    
    <!-- End Time -->
    <input
      #supperEndTimeInput
      type="text"
      placeholder="Select End Time"
      aria-label="Supper End Time"
      [ngxTimepicker]="supperEndTimepicker"
      readonly
      formControlName="supperEndTime"
    >
    <ngx-material-timepicker #supperEndTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
  </div>
</div>

<!-- Snack Time Field -->
<div class="form-group">
  <label class="bold-label" for="snackTime">Snack Time:</label>
  <div class="timepicker">
    <!-- Start Time -->
    <input
      #snackStartTimeInput
      type="text"
      placeholder="Select Start Time"
      aria-label="Snack Start Time"
      [ngxTimepicker]="snackStartTimepicker"
      readonly
      formControlName="snackTime"
    >
    <ngx-material-timepicker #snackStartTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
    
    <!-- End Time -->
    <input
      #snackEndTimeInput
      type="text"
      placeholder="Select End Time"
      aria-label="Snack End Time"
      [ngxTimepicker]="snackEndTimepicker"
      readonly
      formControlName="snackEndTime"
    >
    <ngx-material-timepicker #snackEndTimepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
  </div>
</div>

  <!-- Meal Days Field -->
<div class="form-group meal-days-box">
    <label class="bold-label">Meal Days:</label>
    <div class="days-checkboxes">
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Monday">
        <span class="checkbox-symbol"></span> Mon
      </label>
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Tuesday">
        <span class="checkbox-symbol"></span> Tue
      </label>
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Wednesday">
        <span class="checkbox-symbol"></span> Wed
      </label>
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Thursday">
        <span class="checkbox-symbol"></span> Thu
      </label>
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Friday">
        <span class="checkbox-symbol"></span> Fri
      </label>
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Saturday">
        <span class="checkbox-symbol"></span> Sat
      </label>
      <label class="day-checkbox">
        <input type="checkbox" formControlName="Sunday">
        <span class="checkbox-symbol"></span> Sun
      </label>
      <input type="text" formControlName="mealDays" readonly>
    </div>
  </div>
      
              
                <!-- Submit Button -->
                <input class="button" type="submit" value="Register" />
                <button  mat-raised-button color="primary" [routerLink]="['/Dashboard']">Go Back</button>
              </form>
              
        </div>
      </div>
    </div>
  </div>
  